<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID"
         version="3.0">

<servlet>
<servlet-name>sign_up</servlet-name>
<servlet-class>servlet.sign_up</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>sign_up</servlet-name>
<url-pattern>/pageone</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>addbook</servlet-name>
<servlet-class>servlet.addbook</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addbook</servlet-name>
<url-pattern>/pagetwo</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>log</servlet-name>
<servlet-class>servlet.log</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>log</servlet-name>
<url-pattern>/pagethree</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>viewbooks</servlet-name>
<servlet-class>servlet.viewbooks</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>viewbooks</servlet-name>
<url-pattern>/pagefour</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>GenerateBillServlet</servlet-name>
<servlet-class>servlet.GenerateBillServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GenerateBillServlet</servlet-name>
<url-pattern>/pagefive</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>td</servlet-name>
<servlet-class>servlet.td</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>td</servlet-name>
<url-pattern>/pagesix</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>UserServlet</servlet-name>
<servlet-class>servlet.UserServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UserServlet</servlet-name>
<url-pattern>/pageseven</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>BookListServlet</servlet-name>
<servlet-class>servlet.BookListServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>BookListServlet</servlet-name>
<url-pattern>/pageeight</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>servlet.LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/pagenine</url-pattern>
</servlet-mapping>

</web-app>
